<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Pildo Pharm</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/styleShCart.css" rel="stylesheet" />
</head>
<body>
    <!-- TRABAJAR AQUI-->
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b style="font-size: x-large;">Mi carrito de compras</b></h4></div>
                    </div>
                </div>    
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="img/medicina.avif"></div>
                        <div class="col">
                            <div class="row text-muted">Categoria 2</div>
                            <div class="row">Medicina 1</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">2</a><a href="#">+</a>
                        </div>
                        <div class="col">S&sol; 16.00</div>
                        <div class="col">
                            <a type="button" class="btn btn-danger" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="img/medicina.avif"></div>
                        <div class="col">
                            <div class="row text-muted">Categoria 1</div>
                            <div class="row">Medicina 2</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">4</a><a href="#">+</a>
                        </div>
                        <div class="col">S&sol; 12.00</div>
                        <div class="col">
                            <a type="button" class="btn btn-danger" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="img/medicina.avif"></div>
                        <div class="col">
                            <div class="row text-muted">Categoria 3</div>
                            <div class="row">Medicina 3</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">S&sol; 27.00</div>
                        <div class="col">
                            <a type="button" class="btn btn-danger" href="#">Eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Volver a la pagina principal</span></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Resumen</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">Medicina 1</div>
                    <div class="col text-right">S&sol; 32.00</div>
                </div>
                <div class="row">
                    <div class="col" style="padding-left:0;">Medicina 2</div>
                    <div class="col text-right">S&sol; 48.00</div>
                </div>
                <div class="row">
                    <div class="col" style="padding-left:0;">Medicina 3</div>
                    <div class="col text-right">S&sol; 27.00</div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <select>
                        <option class="text-muted" >Delivery- &euro;5.00</option>
                        <option class="text-muted">Recojo en tienda- &euro;0.00</option>
                    </select>
                    <label class="form-check-label">
                        ¿Desea que nuestro sistema le notifique entre 5 y 10 dias antes del vencimiento de sus medicamentos?
                    </label>
                    <select>
                        <option class="text-muted" id="delivery-precio">Si</option>
                        <option class="text-muted" id="recojo-precio">No</option>
                    </select>
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">S&sol; 112.00</div>
                </div>
                <button class="btn">FINALIZAR PEDIDO</button>
            </div>
        </div>  
        <footer style="background-color: rgb(58, 65, 73); width: 100%;">
            <div class="mx-auto p-2" style="display: flex; align-items: center; justify-content: center;">
                <div style="font-family: Arial; margin-left: 10px; color: white;">
                    <h7>Derechos de autor Pildo Pharmacy S.A.</h7>
                </div>
            </div>
        </footer>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>