<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/generaladmin.html :: header (title = 'Farmacistas')}"></head>
<body class="sb-nav-fixed">

<div th:insert="~{layout/generaladmin.html :: navar1}"></div>
<div th:insert="~{layout/generaladmin.html :: navar2}"></div>
<div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
<div th:if="${msg1 != null}" th:text="${msg1}" class="alert alert-danger" role="alert"></div>

<div class="card shadow mb-4 mt-4" style="margin-right:30px">
    <div class="table-responsive" style="padding:10px">
        <table class="table table-bordered" id="dataTable">
            <thead>
            <h3 class="mt-4">Lista de Farmacistas</h3>
            <tr>
                <th class="columna-imagen">FARMACISTA</th>
                <th class="columna-imagen">DNI</th>
                <th class="columna-imagen">CORREO</th>
                <th class="columna-imagen">DISTRITO</th>
                <th class="columna-imagen">CÓDIGO</th>
            </tr>
            </thead>
            <tbody>
            <tr class=contenido th:each="farmacista: ${listaFarmacista}">
                <td class=<%=color%><p style="font-size: 18px;" th:text="${farmacista.nombres + ' ' + farmacista.apellidos}"></p></td>
                <td class=<%=color%><p style="font-size: 18px;" th:text="${farmacista.dni}"></p></td>
                <td class=<%=color%><p style="font-size: 18px;" th:text="${farmacista.correo}"></p></td>
                <td class=<%=color%><p style="font-size: 18px;" th:text="${farmacista.distrito.nombre}"></p></td>
                <td class=<%=color%><p style="font-size: 18px;" th:text="${farmacista.codigo_colegio.nombre}"></p></td>

                <td>
                    <div class="card-footer pt-1 br-3 border-top-0">
                        <div class="text-center">
                            <a th:href="@{'/admin/editar_farmacista' + '?id=' + ${farmacista.id}}" class="btn btn-warning">
                                <i class=""></i> Actualizar
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card-footer pt-1 br-3 border-top-0">
                        <div class="text-center">
                            <a th:href="@{'/admin/eliminar_farmacista' + '?id=' + ${farmacista.id}}" class="btn btn-danger">
                                <i class=""></i> Eliminar
                            </a>
                        </div>
                    </div>
                </td>

                <td class="text-center" th:if="${farmacista.estado==0}"><p>Inactivo</p></td>
                <td class="text-center" th:if="${farmacista.estado==1}"><p>Activo</p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="text-align: center;">
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/admin/registrar_farmacista}">Nuevo Farmacista</a>
</div>


<footer style="background-color: rgb(58, 65, 73); width: 100%;">
    <div class="mx-auto p-2" style="display: flex; align-items: center; justify-content: center;">
        <div style="font-family: Arial; margin-left: 10px; color: white;">
            <h7>Derechos de autor Pildo Pharmacy S.A.</h7>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>