<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/admin/img/logo.png}" />
    <!-- Bootstrap icons-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" rel="stylesheet" />
    <title>Pildo Pharm</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{img/logo.png}" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" rel="stylesheet" />

    <link th:href="@{/assets/admin/css/stylesSide.css}" rel="stylesheet" />
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js}"></script>
    <script th:src="@{https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCSkZALDDeauhgE9WHeS52ssPOo5xRLZoY&libraries=places}"></script>
    <style>
        /* Estilos personalizados para los botones */
        .boton_barbaro {
            color: white;
            background-color: red;
            border-color: red;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .boton_barbaro:hover {
            background-color: #990000;
            border-color: #990000;
        }

        .botoncito_gozu {
            color: white;
            background-color: black;
            border-color: black;
            margin-top: 32px;
        }

        .botoncito_gozu:hover {
            background-color: #333;
            border-color: #333;
        }

        .boton-primario {
            background-color: #2bd831;
            border-color: #2bd831;
        }

        .boton-primario:hover {
            background-color: rgb(19, 164, 24);
            border-color: rgb(19, 164, 24);
        }
    </style>
</head>
<body class="sb-nav-fixed">
    <nav class="navbar navbar-expand-lg fondo" style=" background-color: #0b636fc9;">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#" style="color: white; font-size: x-large; margin-bottom: 3px;"><img th:src="@{/admin/img/logo.png}" alt="Logo" width="50vw" height="50vh"> PildoPharm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--Buscado-->
                <ul class="navbar-nav m-auto">
                    <div class="input-group ml-40">
                        <input class="form-control" type="text" style="font-size: large;" placeholder="Buscar medicamento..." aria-label="Search for..." aria-describedby="btnNavbarSearch">
                        <button class="btn btn-outline-light" type="submit"><i class="bi-search me-1"></i></button>
                    </div>
                </ul>
                <form class="d-flex">
                    <!--boton registrar-->
                    <div class="dropdown" style="margin-top: 5px;">
                        <button class="btn mt-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: 0px; display: flex;" >
                            <a class="text-decoration-none" style="margin-right: 10px;" href="#"><img th:src="@{/admin/img/usuario.png}" width="50vw" height="50vh" alt="Avatar" class="avatar"></a><div style="display: flex; flex-direction: column; color: white;"><h5 style="margin: 0%;">Nombre Apellido</h5> <h7>Administrador de sede</h7></div>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{'/admin/perfil'}">Perfil</a></li>
                            <li><a class="dropdown-item" th:href="@{'/admin/mis_pedidos'}">Mis pedidos</a></li>
                            <li style="color: darkred!important;"><a class="dropdown-item" th:href="@{'/admin/cerrar_sesiom'}" style="color: red!important;"><b>Cerrar Sesión</b></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #72b2bbc9!important;">
        <div class="container px-4 px-lg-5">
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: large;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin/inicioSupAdmin}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin/medicamentosSupAdmin}">Medicamentos</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin/pedidos_reposicion}">Pedidos de Reposición</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin/nuevo_pedido}">Nuevo Pedido</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin/farmacistas}">Farmacistas</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin/estado_solicitud_farmacistas}">Estado de solicitudes de Farmacistas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!" style="display: flex;"><div class="sb-nav-link-icon" style="margin-right: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
                </ul>
            </div>
            <!--carrito-->
        </div>
    </nav>

    <footer style="background-color: rgba(11, 99, 111, 0.79); width: 100%;">
        <div class="mx-auto p-2" style="display: flex; align-items: center; justify-content: center;">
            <div style="font-family: Arial, 5px,serif; margin-left: 10px; color: white;">
                <h7>Derechos de autor Pildo Pharmacy S.A.</h7>
            </div>
        </div>
    </footer>


</body>
</html>