<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<nav class="navbar navbar-expand-lg fondo" style=" background-color: #0b636fc9;" th:fragment="navar1">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/admin/inicioSupAdmin}" style="color: white; font-size: x-large; margin-bottom: 3px;"><img th:src="@{/admin/img/logo.png}" alt="Logo" width="50vw" height="50vh"> PildoPharm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <div class="input-group ml-40">
                    <!--ocultar buscador
                    <input class="form-control" type="text" style="font-size: large;" placeholder="Buscar por Nombre..." aria-label="Search for..." aria-describedby="btnNavbarSearch">
                    <button class="btn btn-outline-light" type="submit"><i class="bi-search me-1"></i></button>
                --></div>
            </ul>
            <form class="d-flex">
                <!--boton registrar-->
                <div class="dropdown" style="margin-top: 5px;">
                    <button class="btn mt-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: 0px; display: flex;" >
                        <a class="text-decoration-none" style="margin-right: 10px;" href="#"><img th:src="@{/admin/img/usuario.png}" width="50vw" height="50vh" alt="Avatar" class="avatar"></a><div style="display: flex; flex-direction: column; color: white;"><h5 style="margin: 0%;">Nombre Apellido</h5> <h7>Administrador de sede</h7></div>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li style="color: darkred!important;"><a class="dropdown-item" href="#" style="color: red!important;"><b>Cerrar Sesión</b></a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #72b2bbc9!important;" th:fragment="navar2">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" style="font-size: large;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/admin/inicioSupAdmin}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/admin/medicamentosSupAdmin}">Medicamentos</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/admin/pedidos_reposicion}">Pedidos de Reposición</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/admin/nuevo_pedido}">Nuevo Pedido</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/admin/farmacistas}">Farmacistas</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>